/*
Слайдер AIT v1.4.0
? азработка ООО "АИТ", http://ait-web.ru
*/
.nbs-aitsl-container {
position: relative;
width: 100%;
overflow: hidden;
}

.nbs-aitsl-ul {
position:relative;
margin:0px;
padding:0px;
list-style-type:none;   
overflow: hidden;
display:none;	
text-align: center;
}

.nbs-aitsl-inner {
overflow:hidden;
float:left;
width:100%; 
}

.nbs-aitsl-item {
color: #CABABA;
width:33%;
float:left;
margin:0px;
padding:0px;
position:relative;
}
.nbs-aitsl-item:hover{
  background: rgba(0,0,0,0.1);
}
.aitslNavButton {
overflow: hidden;
position: absolute;
width: 140px;
z-index: 5;
bottom: 19px;
left: 50%;
margin-left: -42px;
height: 20px;
padding-top: 4px;
}

.aitslNavButton a {
width: 5px;
height: 5px;
background: #fff;
display: none;
float: left;
margin: 0 5px;
border-radius: 50%;
border: 3px solid #FFFFFF;
box-shadow: 0px -1px 1px #333333;
}

.aitslNavButton a.active {
width: 5px;
height: 5px;
background: #009ada;
}

.nbs-aitsl-nav-right, .nbs-aitsl-nav-left{
top: 50%;
overflow: hidden;
position: absolute;
z-index: 5;
width: 40px;
height: 106px;
cursor: pointer;
border: 0;
background: none;
padding: 0;
}

.nbs-aitsl-nav-right{
right: 20px;
background: url("images/arrow2.png");
}

.nbs-aitsl-nav-left {
left: 20px;
background: url("images/arrow1.png");
}